{% extends 'base.html' %}
{% load crispy_forms_tags%}
{%load widget_tweaks%}
{% block head %}
<title>Register</title>
<link href="/static/css/form.css" rel="stylesheet">
<style>
    .topright {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 14px;
    }
    label{
        background: transparent;
        font-family: Raleway-SemiBold;
        font-size: 18px;
        color: #333333;
        line-height: 1.2;
    }
</style>
{% endblock %}

{% block body %}
<div class="container-contact100"> 
    <a class="notify-btn topright" href="/"> Go Home
    </a>   
    {% if request.user.is_staff is False or request.user.is_superuser is False%}    
    <div class="wrap-contact100">
        
        
        {% if courses %}
        <h4 style="color:black"> courses already registered</h4>
        {%else%}
        <form class="cform-horizontal" action="/course/" method="POST">
            {% csrf_token %}
            <span class="contact100-form-title">
               Course Registration Form
            </span>
            <div class="form-group">
                <div class="wrap-input100 validate-input col-sm-3" hidden>
                   
        
                    {% render_field form.username class+="input100" placeholder="matric number" %} 
                    <span class="focus-input100"></span>
                </div>

           

                <div  class = "form-group col-sm-9" style="display: inline-block;">
                    {% render_field form.course class+="form class" placeholder="Valid Email"  %} 
                    <span class="focus-input100"></span>
                </div> 

            {% comment %} <div class="wrap-input100  validate-input">
                <label for="dp">Upload your Profile Picture  </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="dp" type="file" name="image" accept="image/*">
            </div>  {% endcomment %}
      
            
            <div class="container-contact100-form-btn">
                <button type="submit" class="notify-btn">
                    <span>
                        Register
                    </span>
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" class="notify-btn">
                        <span>
                            Clear
                        </span>
                    </button>
            </div>
        </form>
        {%endif%}
       
        {% for i in courses %}
        <p>Edit course? &nbsp;&nbsp;
            
    
        {% if request.user.id == i.username_id %}
            <a href="/edit/{{i.id}}" class="notify-btn">
                <span>
                    Edit
                </span>
            </a>{%endif%}
        </p>{%endfor%}
    </div>
</div>
{%else%}
<h1> Admin Can't Register Courses </h1>
{%endif%}
<script src="/static/js/form.js"></script>

{% endblock %}